@model TableVM

<style>
    .hp1 {
        margin-top: 35px;
        margin-left: 35px;
        margin-right: 35px;
        height: 70px;
        background-color: #3B3B3B;
    }

    .cent {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .font {
        font-family: 'Playfair Display', serif;
    }

    a {
        text-decoration: none;
    }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inlin e-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" style="font-size:20px; color:#bfbfbf !important;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
            <div class="text-center col-6" style="margin-right:9vw">
                <a class="navbar-brand text-center" style="font-family: 'Source Serif Pro', serif; font-size:40px" asp-area="" asp-controller="Home" asp-action="Index">HomeKart</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="margin-right:1vw; font-size:18px;">
                        Welcome! Admin
                    </a>
                </li>
                <li class="nav-item hovw">
                    <a class="nav-link btn btn-outline-light" asp-controller="Home" asp-action="Index">
                        Sign out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container font" style="margin-top:10vh !important">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">User Logs:</h2>
        </div>
    </div>


    <table class="table table-bordered table-striped mt-3" style="width:100%;">
        <thead class="" style="background-color:darkgray">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Creation Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.UserTab)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Name</td>
                    <td>@obj.Email</td>
                    <td>@obj.Password</td>
                    <td>@obj.DateTimeCreater</td>
                    <td class="text-center">
                        <a asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@obj.Id">
                            <div class="btn btn-group mx-1 btn-danger">
                                <i class="bi bi-trash3-fill"></i> Delete
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Property Logs:</h2>
        </div>
    </div>

    <table class="table table-bordered table-striped mt-3" style="width:100%;">
        <thead class="" style="background-color:darkgray">
            <tr>
                <th class="w-25">Address</th>
                <th>Area</th>
                <th style="width:15vw">No. of Rooms</th>
                <th>Floor No.</th>
                <th>Rent Amount</th>
                <th>Phone No.</th>
                <th>User Id</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.PropertyTab)
            {
                <tr>
                    <td>@obj.Address</td>
                    <td>@obj.Area</td>
                    <td style="width:15vw">@obj.No_of_Rooms</td>
                    <td>@obj.Floor_No</td>
                    <td>@obj.Rent_Amount</td>
                    <td>@obj.Phone</td>
                    <td>@obj.userId</td>
                    <td class="text-center">
                        <a asp-action="DeleteProperty" asp-controller="Admin" asp-route-id="@obj.Id">
                            <div class="btn btn-group mx-1 btn-danger">
                                <i class="bi bi-trash3-fill"></i> Delete
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Admin Logs:</h2>
        </div>
    </div>

    <table class="table table-bordered table-striped mt-3" style="width:100%;">
        <thead class="" style="background-color:darkgray">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.AdminTab)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Email</td>
                    <td>@obj.Password</td>
                </tr>
            }
        </tbody>
    </table>

</div>