@model IEnumerable<OwnerVM>

<style>
    a {
        text-decoration: none;
    }
    .hovw a:hover {
            color: black !important;
        }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" style="font-size:20px; color:#bfbfbf !important;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
            <div class="text-center col-6" style="margin-right:7vw">
                <a class="navbar-brand text-center" style="font-family: 'Source Serif Pro', serif; font-size:40px" asp-area="" asp-controller="Home" asp-action="Index">HomeKart</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <a class="nav-link" style="margin-right:1vw; font-size:18px;" asp-controller="Role" asp-action="Index">
                            Welcome! @ViewBag.Name
                        </a>
                    </li>
                    <li class="nav-item hovw">
                        <a class="nav-link btn btn-outline-light" asp-controller="SignIn" asp-action="SignOut">
                            Sign out
                        </a>
                    </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container" style="margin-top:10vh !important; margin-bottom:80vh;">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Property List:</h2>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3 text-end">
            <a asp-controller="Owner" asp-action="AddProperty" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New Property
            </a>
        </div>
    </div>


    <table class="table table-bordered table-striped mt-3" style="width:100%;">
        <thead class="" style="background-color:darkgray">
            <tr>
                <th class="w-25">Address</th>
                <th>Area</th>
                <th style="width:15vw">No. of Rooms</th>
                <th>Floor No.</th>
                <th>Rent Amount</th>
                <th class="text-center">Update</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Address</td>
                    <td>@obj.Area</td>
                    <td style="width:15vw">@obj.No_of_Rooms</td>
                    <td>@obj.Floor_No</td>
                    <td>@obj.Rent_Amount</td>
                    <td class="text-center">
                        <a asp-action="UpdateProperty" asp-controller="Owner" asp-route-id="@obj.Id">
                            <div class="btn btn-group mx-1 btn-secondary">
                                <i class="bi bi-pencil"></i> Update
                            </div>
                        </a>
                    </td>
                    <td class="text-center">
                        <a asp-action="DeleteProperty" asp-controller="Owner" asp-route-id="@obj.Id">
                            <div class="btn btn-group mx-1 btn-danger">
                                <i class="bi bi-trash3-fill"></i> Delete
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@if(ViewBag.Add != null)
{
    <script type="text/javascript">
        window.onload = function() {
            alert("A property from @ViewBag.Add was deleted!");
        };
    </script>
}